/* Общие стили */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ebebeb;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

/* Стили для навигации */

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 17px 20px;
  font-size: 18px;

}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 15px;
}

nav a:hover {
  color: #333;
  background-color: #ffffff;
}

.active {
  background-color: #ffffff;
  color: #000000;
}

/* Стили для таблицы */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-spacing: 0;
}

th,
td {
  border: 1px solid #808080;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

/* Стили для форм */

form {
  margin: 1em 0;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"], 
input[type="number"], 
input[type="date"], 
select {
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
    transition: border-color 0.5s, box-shadow 0.3s; 
    text-align: center;
}

input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="date"]:focus, 
select:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #000;
}

/* Стили для select */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    text-align: center;
}
/* Стили для ошибок */

.error {
  color: #f00;
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* Стили для кнопок */

button {
  width: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 5px;
  border: 1px solid #333;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(255, 255, 255);
  color: #f00;
  border: 1px solid #f00;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

#workersTable td:last-child {
  width: 225px;
}

#workersTable {
  width: 95%;
  margin: 0 auto;
}

#listTable {
  width: 45%;
  margin: 0 auto;
}

#listTable td:nth-child(1) {
  width: 15px;
}

#listTable td:nth-child(2) {
  width: 185px;
}

#listTable td:nth-child(3) {
  width: 180px;
}

#listTable td:nth-child(4) {
  width: 150px;
}

#listTable td:nth-child(5) {
  width: 100px;
}

#listTable td:last-child {
  width: 170px;
}

/* Добавляем новые стили для таблиц на странице tables.html */

#educationTable,
#positionsTable,
#professionsTable {
  width: 100%;
}
#educationTable th
#positionsTable th,
#professionsTable th,
#educationTable th 
#educationTable td,
#positionsTable td,
#professionsTable td {
  padding: 8px; /* Уменьшаем отступы в ячейках */
}
/* Уменьшаем ширину столбца с действиями */
#educationTable td:last-child,
#positionsTable td:last-child,
#professionsTable td:last-child {
  width: 225px;
}
.tables-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 2000px; /* Добавляем максимальную ширину */
  margin: 0 auto; /* Центрируем контейнер */
}
.table-wrapper {
  flex: 1;
  max-width: 70%; /* Ограничиваем ширину каждой таблицы */
}
