/* Общие стили */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #ebebeb;
}

h1 {
  text-align: center;
  margin: 20px auto;
}

/* Стили для навигации */

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 17px 20px;
  font-size: 18px;

}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 15px;
}

nav a:hover {
  color: #333;
  background-color: #ffffff;
}

.active {
  background-color: #ffffff;
  color: #000000;
}

/* Стили для таблицы */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

th,
td {
  border: 1px solid #808080;
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

/* Стили для форм */

form {
  margin: 1em 0;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input,
select {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

/* Стили для ошибок */

.error {
  color: #f00;
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* Стили для кнопок */

button {
  width: 100px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 5px;
  border: 1px solid #333;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: rgb(255, 255, 255);
  color: #f00;
  border: 1px solid #f00;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

#workersTable td:last-child {
  width: 225px;
}

#workersTable {
  width: 95%;
  margin: 0 auto;
}

#listTable {
  width: 45%;
  margin: 0 auto;
}

#listTable td:nth-child(1) {
  width: 15px;
}

#listTable td:nth-child(2) {
  width: 185px;
}

#listTable td:nth-child(3) {
  width: 180px;
}

#listTable td:nth-child(4) {
  width: 150px;
}

#listTable td:nth-child(5) {
  width: 100px;
}

#listTable td:last-child {
  width: 170px;
}

#positionsTable {
  width: 20%;
  margin: 0 auto;
}

#positionsTable td:nth-child(1) {
  width: 5px;
}

#positionsTable td:nth-child(2) {
  width: 100px;
}

#positionsTable td:nth-child(3) {
  width: 100px;
}