
    /* Простейшее стилизованное меню */
    nav {
        font-family: 'Roboto', sans-serif; /* Шрифт для ячеек таблицы */
        background-color: #ffffff;
        overflow: hidden;
        text-align: center; /* Центрируем содержимое меню */
    }

    nav a {
        display: inline-block; /* Меняем на inline-block для центрирования */
        color: #6699CC;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border: 0.0025rem solid #6699CC;
    }

    nav a:hover {
        background-color: #6699CC;
        color: rgb(255, 255, 255);
    }

    nav a.active {
        background-color: #6699CC ;
        color: white;
    }

    h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif; /* Шрифт для заголовка */
        color: #333; /* Цвет текста заголовка */
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        
    }

    th, td {
        font-family: 'Roboto', sans-serif; /* Шрифт для ячеек таблицы */
        border: 1px solid #6699CC;
        padding:5px;
        text-align: left;
        
    }

    th {
        background-color: #6699CC;
        border: 1px solid #ffffff;
        color: white;
        
    }

    tr {
        height: 50px;
    }

    tr:hover {
        background-color: #e9f5ff;
    }

    .input-field {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    #addListButton {
        padding: 8px 16px;
    }
    button {
        background-color: #6699CC; /* Зеленый фон */
        color: white; /* Белый текст */
        border: none; /* Убираем границы */
        padding: 10px 15px; /* Внутренние отступы */
        text-align: center; /* Выравнивание текста по центру */
        text-decoration: none; /* Убираем подчеркивание */
        display: inline-block; /* Инлайн-блок для кнопок */
        font-size: 16px; /* Размер шрифта */
        margin: 4px 2px; /* Отступы между кнопками */
        cursor: pointer; /* Курсор в виде указателя */
        border-radius: 3px; /* Закругленные углы */
        transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
        border: 1px solid #6699CC;
    }
    
    /* Эффект при наведении */
    button:hover {
        background-color: #ffffff; /* Темнее зеленый при наведении */
        transform: scale(1.05); /* Увеличение кнопки при наведении */
        color: #6699CC;
        border: 1px solid #6699CC;
    }
    
    /* Эффект при нажатии */
    button:active {
        transform: scale(0.95); /* Уменьшение кнопки при нажатии */
    }
    .delete-button {
        background-color: #6699CC; /* Зеленый фон */
        color: white; /* Белый текст */
        border: none; /* Убираем границы */
        padding: 10px 15px; /* Внутренние отступы */
        text-align: center; /* Выравнивание текста по центру */
        text-decoration: none; /* Убираем подчеркивание */
        display: inline-block; /* Инлайн-блок для кнопок */
        font-size: 16px; /* Размер шрифта */
        margin: 4px 2px; /* Отступы между кнопками */
        cursor: pointer; /* Курсор в виде указателя */
        border-radius: 3px; /* Закругленные углы */
        transition: background-color 0.3s, transform 0.2s; /* Плавные переходы */
        border: 1px solid #6699CC;
    }
    
    /* Эффект при наведении для кнопки удаления */
    .delete-button:hover {
        background-color: #ffffff; /* Темнее зеленый при наведении */
        transform: scale(1.05); /* Увеличение кнопки при наведении */
        color: #ff6060;
        border: 1px solid #ff6060;
    }
    
    /* Эффект при нажатии для кнопки удаления */
    .delete-button:active {
        transform: scale(0.95); /* Уменьшение кнопки при нажатии */
    }
    